    body {
        font-family: sans-serif;
        margin: 0;
        overflow-x: hidden;
    }
    
    .nav {
        position: fixed;
        display: flex;
        padding-left: 3.5vw;
        padding-right: 5vw;
        padding-bottom: 1vw;
        padding-top: 10px;
        background-color: rgb(33, 42, 49);
        width: 100%;
       
        height: 3.8vw;
    }
    
    .nav img {
        height: 5.5vh;
        width: 8.5vw;
        padding-top: 0.5vw;
    }
    
    .nav ul {
        margin-right: 0;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
    
    .nav ul li {
        list-style: none;
        display: inline-block;
        position: relative;
        font-family: Amazon Ember Light;
        color: rgba(242, 244, 246, .9);
        font-size: 2.8vh;
        margin-right: 1.5vw;
        margin-top: 1vw;
        margin-left: 0;
    }
    
    .nav button {
        width: 10vw;
        height: 6vh;
        border-radius: 0.2vw;
        background-color: rgb(34, 157, 229);
        border-color: rgb(0, 162, 255);
        color: white;
        font-size: medium;
        margin-left: 20vw;
    }
    
    .row {
        display: grid;
        grid-template-columns: 39.7vw 59.3vw;
        height: 88vh;
        background: linear-gradient(to right, black, 70%, grey);
    }
    
    .col-1 {
        grid-column: 1/2;
        color: #fff;
        padding-left: 5vw;
        padding-top: 9vw;
    }
    
    .col-1 p {
        font-family: Amazon Ember Light;
        font-size: 3.2vw;
        font-weight: bold;
        font-family: Amazon Ember Light;
    }
    
    .col-1 h3 {
        right: 50vw;
        font-weight: normal;
        font-style: normal;
        word-spacing: 0%;
        font-family: Amazon Ember Light;
        font-size: 1.6vw;
    }
    
    @font-face {
        font-family: Amazon Ember Light;
        src: url(Amazon_Ember_Light.ttf);
    }
    
    .col-1 button {
        width: 23vw;
        width: 23vw;
        height: 8vh;
        border-radius: 0.2vw;
        background-color: rgb(34, 157, 229);
        border-color: rgb(0, 162, 255);
        color: white;
        font-size: medium;
        top: 2vw;
    }
    
    .col-2 {
        grid-column: 2/3;
        overflow: hidden;
        padding-top: 5.5vw;
        padding-left: 4vw;
        width: 55vw;
        height: 78vh;
    }
    
    .row-2 {
        display: grid;
        grid-template-columns: 39.7vw 59.3w;
        height: 80vh;
        background: linear-gradient(to right, black, 70%, grey);
    }
    
    #d1 {
        grid-column: 1/2;
        color: #fff;
        padding-left: 5vw;
        padding-top: 3vw;
    }
    
    #d1 p {
        font-size: 3.2vw;
        font-weight: bold;
        font-family: Amazon Ember Light;
    }
    
    #d1 h3 {
        right: 50vw;
        font-weight: normal;
        font-style: normal;
        word-spacing: 0%;
        font-family: Amazon Ember Light;
        font-size: 1.6vw;
    }
    
    #d1 button {
        width: 23vw;
        height: 8vh;
        border-radius: 0.2vw;
        background-color: rgb(34, 157, 229);
        border-color: rgb(0, 162, 255);
        color: white;
        font-size: medium;
        top: 2vw;
    }
    
    #d2 {
        grid-column: 2/3;
    }
    
    #d2 img {
        width: 55vw;
        height: 80vh;
    }
    
    .row-3 {
        display: grid;
        grid-template-columns: 40vw 60vw;
        height: 78vh;
        background-color: black;
    }
    
    #d3 {
        grid-column: 1/2;
        border-right: 2px solid white;
    }
    
    #d3 img {
        height: 78vh;
        width: 55vw;
    }
    
    #d4 {
        box-sizing: border-box;
        grid-column: 2/3;
        color: #fff;
        padding-left: 4vw;
    }
    
    #d4 p {
        font-size: 3.2vw;
        font-weight: bold;
        font-family: Amazon Ember Light;
    }
    
    #d4 h3 {
        right: 50vw;
        font-weight: normal;
        font-style: normal;
        word-spacing: 0%;
        font-family: Amazon Ember Light;
    }
    
    #d4 button {
        width: 23vw;
        height: 8vh;
        border-radius: 0.2vw;
        background-color: rgb(34, 157, 229);
        border-color: rgb(0, 162, 255);
        color: white;
        font-size: medium;
        top: 2vw;
    }
    
    @media only screen and (width:400px) {
        body {
            font-family: sans-serif;
            margin: 0;
            box-sizing: border-box;
            overflow-x: hidden;
            padding: 0;
            margin: 0;
        }
        .nav {
            height: 5vh;
            z-index: 0;
        }
        .nav ul {
            display: none;
        }
        .nav button {
            display: none;
        }
        .row {
            position: relative;
            top: 7vh;
            border: solid 2px white;
            display: block;
        }
    }